.l-header {
  position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: $header-height;
	z-index: $zindex-fixed;
	background: $violet;
	pointer-events: auto;
	color: $white;

	&.is-white-bg {
		background: $white;
		color: $black; 

		a {
			color: $black;
		}
	}

	&__left {
		display: flex
	}

	&__back-text {
		display: none;

		@include media-breakpoint-up(md) {
			display: flex;
			padding-left: $container-padding/4
		}
	}
	
  
  &__wrap {
		@include make-container();
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		padding: 0 $grid-gutter-width;
		height: $header-height;
	}

	&__menu {
		align-self: flex-start;
		display: flex;
		width: 100%;
		flex: 1;
		flex-flow: row wrap;
		align-items: center;
		height: $header-height;
		justify-content: space-between;

		@include media-breakpoint-up(lg) {
			flex: 0 0 auto;
		}
  }
 
  &__logo {
    max-height: $header-height*0.4
	}

	&__close {
		cursor: pointer;
	}

	&__right {
    display: flex
  }

  &__right-logo {
    max-height: $header-height*0.3;
    margin-left: $grid-gutter-width
  }
	
	&__link {
    flex: 1 0 3rem; // For Safari jumping
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0 1rem 0 ($grid-gutter-width / 2);
		line-height: 1; // For Safari jumping
		color: $white;
		font-size: $font-size-sm;
		font-weight: $font-weight-bold;
		color: $ggreen;
		transition: all $transition-time-1 $transition-easing-1;

		&:hover {
			color: red
		}

		@include media-breakpoint-up(md) {
			padding: 0 1rem 0 $grid-gutter-width;
		}

	
	}

	.is-white-bg {
		background: $white;
		color: $black; 
	}
}